body
    {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #02182c;
    }

form
    {
        background-color: #ada7a7;

        padding:40px;
        border-radius: 10px;
        width: 500px;
        height: 650px;
        margin: 0px auto 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    input
    {
        border: none;
        border-bottom: 2px solid #555;
        width: 95%;
        outline: none;
        padding: 10px 5px;
        margin-top: 15px;
        background: transparent;
    }
    h1{
        text-align: center;
        color: #589fe2;
    }
    /* button
    {
        padding: 12px;
        width: 100%;
        background-color: #dc6190;
    }
    button:hover {
    background-color: #9d174b;
    cursor: pointer;
} */
 button {
    padding: 12px;
    width: 100%;
    background-color: #589fe2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3b7dc4;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}



    .links
    {
        text-align: center;
        margin-top: 20px;
    }