body{
    margin:0;
    font-family:Arial,sans-serif;
    background-color:#02182c;
}
.dashboard_header{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #02182c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.dashboard_header .logo {
     color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}
.logout-box {
    display: flex;
    align-items: center;
}


.logout-btn {
      text-decoration: none;
    padding: 8px 22px;
    background-color: #ff4d4d;
    color: #ffffff ;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ff4d4d;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #d93636;
    border-color: #d93636;
    box-shadow: 0 4px 12px rgba(255, 77, 77, 0.6);
    transform: translateY(-1px);
}
.dashboard{
    padding:30px;
    text-align:center;

}

.dashboard h1{
    color:#ffffff;
    margin-bottom:30px;
}
.feature_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap:20px;
    max-width:2000px;
    margin:auto;
}
.feature{
    background-color:#f2f2f2;
    padding:25px;
    border-radius:10px;
    text-decoration:none;
    color:#000;
    box-shadow:0 4px 8px rgba(0,0,0,0.3);
     transition: transform 0.2s, box-shadow 0.2s;
}

.feature:hover{
    transform:translateY(-5px);
    box-shadow:0 6px 15px rgba(0,0,0,0.4);
}

.feature h2{
    color:#02182c;
    margin-bottom: 10px;
}
.feature p{
    font-size:14px;
    color:#333;
}

