body{
    margin:0;
    font-family:Arial,sans-serif;
    background-color:#02182c;
}
.header{
    background-color:#011221;
    padding: 15px 30px;
    display:flex;
    align-items:center;
}
.logo{
    font-size:18px;
    font-weight:bold;
}
.profile{
    position:relative;


}
.profile_name{
    cursor:pointer;
    font-size:14px;
}
.options{
    display:none;
    position:absolute;
    min-width:160px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    border-radius:5px;
    overflow:hidden;
}
