body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
}

th {
    background-color: #02182c;
    color: white;
}
textarea {
    width: 100%;
    height: 70px;
    resize: vertical;
    padding: 6px;
}

button {
    padding: 8px 14px;
    background-color: #02182c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #04315a;
}
.header {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02182c;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.logo span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.nav-buttons a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #1b3a57;
}


.nav-buttons a.logout {
    background-color: #e74c3c;
}

.nav-buttons a.logout:hover {
    background-color: #c0392b;
}