body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
}

th {
    background-color: #02182c;
    color: white;
}
textarea {
    width: 100%;
    height: 70px;
    resize: vertical;
    padding: 6px;
}

button {
    padding: 8px 14px;
    background-color: #02182c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #04315a;
}