body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
}

table th {
    background: #02182c;
    color: #fff;
}
table tr:nth-child(even){
    background: #f9f9f9;
}

table tr:hover {
    background: #e1f0ff;
}

select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.header {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02182c;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.logo span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.nav-buttons a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #1b3a57;
}

.nav-buttons a.active {
    background-color: #ffffff;
    color: #02182c;
    font-weight: bold;
}

.nav-buttons a.logout {
    background-color: #e74c3c;
}

.nav-buttons a.logout:hover {
    background-color: #c0392b;
}
